@import "pico/pico.min.css";
@import "theme.css";

/* tablet */
@media screen and (min-width: 769px) {
  body {
    margin: 0 auto;
    max-width: 769px;

  }
}

/* desktop */
@media screen and (min-width: 1281px) {
  body {
    margin: 0 auto;
  }

  details {
    max-width: 50%;
  }

  form {
    max-width: 50%;

    button {
      max-width: 75%;
    }
  }
}