---
---
@import "typography";

@viewport {
    width: device-width;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}


/* mobile first */
body {
    display: grid;
    max-width: 90vw;
    margin: 0 auto;
    background-color: black;
    color: #1AF429;
    font-family: 'Spinnaker';
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jockey One', cursive;
}

p>.emoji {
    vertical-align: middle;
}

a {
    color: #1AF429;
}

a:hover {}

a:active {}

a:visited {}

/* larger mobile */
@media screen and (min-width: 321px) {
    max-width: 85vw;
}


/* tablet */
@media screen and (min-width: 769px) {
    max-width: 50vw;
}


/* desktop */
@media screen and (min-width: 1281px) {
    body {
        max-width: 70vw;
        margin: 0 auto;
    }
}