@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Spinnaker&display=swap');

@viewport {
    width: device-width;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    padding: auto;
    margin: 0 auto;
    background-color: rgb(15, 1, 1);
    color: #f19122;
    font-family: 'Spinnaker';
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    border: 3px solid yellow;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jockey One', cursive;
}

p>.emoji {
    vertical-align: middle;
}

a {
    color: #e6f41a;
}

/* tablet */
@media screen and (min-width: 769px) {
    body {
        
    }
}


/* desktop */
@media screen and (min-width: 1281px) {
    body {

    }
}