body {
    margin: 0 1em;
    padding: 0;
    border: 0;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    color: #720b0b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    margin: auto;
    font-size: 1.9em;
    grid-area: main;
}

section {
    grid-area: section;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

a {
    color: #720b0b;
    text-decoration: none;
    border-bottom: 3px #720b0b dotted;
}

a:hover {
    color: black;
    border-bottom: 3px black solid;
}

@media screen and (max-width: 480px) {
    main {
        font-size: 1.3em;
    }
}