<footer>
    <section id="contact">
        <h2 class="heading">Let's network:</h2>
        <p class="text"><a href="{{ site.data.contact.linkedin }}">linkedin</a> | <a href="{{ site.data.contact.github }}">github</a> | <a href="{{ site.data.contact.twitter }}">twitter</a></p>
        <p>or shoot me an email {{ site.data.contact.email }}</p>
    </section>
    <p class="text"><small>&copy; {{ site.time | date: '%Y' }} made by Muzamil :v:</small></p>
    <script src="js/main.js"></script>
</footer>