<article id="resume">
    <section id="contact">
        <address>
            <p>Get in touch: <span>{{ site.data.contact.email }}</span></p>
            <p>Checkout the <a href="{{ site.data.contact.github }}">GitHub activity</a>.</p>
        </address>
    </section>
    <section id="experience">
        <p>Experience:</p>
        {% for experience in site.data.resume.experience %}
        <p><a href="{{ experience.link }}">{{ experience.company }}</a></p>
        <p>{{ experience.position }}</p>
        <p>{{ experience.date }}</p>
        <p>{{ experience.details }}</p>
        {% endfor %}
    </section>
    <section id="education">
        <p>Education:</p>
        {% for education in site.data.resume.education %}
        <p>{{ education.school }}</p>
        <p>{{ education.degree }} - {{ education.earned }}</p>
        <p>{{ education.details }}</p>
        {% endfor %}
    </section>
</article>