<article id="resume">
    <section>
        <h2 class="">Skills:</h2>
        {% for skill in site.data.resume.skills %}
        <details open>
            <summary class="">{{ skill.type }}</summary>
            <p class="">{{ skill.snippet }}</p>
        </details>
        {% endfor %}
    </section>
    <section id="experience">
        <h2 class="">Experience:</h2>
        {% for experience in site.data.resume.experience %}
        <p class=""><a href="{{ experience.link }}">{{ experience.company }}</a></p>
        <p class="">{{ experience.date }}</p>
        <p class="">{{ experience.position }}</p>
        <!-- <p class="">{{ experience.details }}</p> -->
        {% endfor %}
    </section>
    <section id="education">
        <h2 class="">Education:</h2>
        {% for education in site.data.resume.education %}
        <p class="">{{ education.school }}</p>
        <p class="">{{ education.degree }} - {{ education.earned }}</p>
        <p class="">{{ education.details }}</p>
        {% endfor %}
    </section>
</article>