// @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

body {
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', Georgia, Times, Times New Roman, serif;
    color: maroon;
}

h1 {
    font-size: 2.9rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.7rem;
}

h5 {
    font-size: 1.3rem
}

h6 {
    font-size: .9rem;
}

p {
    font-family: 'Noto Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #93979E;
}

#logo {
    
}

a {
    color: #EBCB8B;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {

}