// @import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

body {
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', Georgia, Times, Times New Roman, serif;
    color: #FFFFFF;
    
}

h1 {
    
}

p {
    font-family: 'Noto Sans', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #93979E;
}

#logo {
    
}

a {
    color: #EBCB8B;
}

@media screen and (min-width: 480px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {

}