---
---
@import "rouge.scss";

body * {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    color: #720b0b;
    font-family: 'Titillium Web';
}

main {
    width: 80%;
    margin: 0 auto;
    font-size: 1.9em;
}

header {
    width: 80%;
    margin: 0 auto;
    font-size: 1.9em;
}

a {
    color: #720b0b;
    text-decoration: none;
    transition: all 2s ease;
    border-bottom: 3px #720b0b dotted;
}

a:hover {
    color: black;
    border-bottom: 3px black solid;
}

@media screen and (max-width: 480px) {
    main {
        width: 80%;
        font-size: 1.3em;
    }
}