---
---
@import "rouge.scss";

html {
    margin: 0%;
    padding: 0%;
}

body {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    color: #720b0b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-gap: 1.5em;
    grid-template-areas:    "header"
                            "main"
                            "footer";
}

main {
    width: 80%;
    margin: 0 auto;
    font-size: 1.9em;
    grid-area: main;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

a {
    color: #720b0b;
    text-decoration: none;
    transition: all 2s ease;
    border-bottom: 3px #720b0b dotted;
}

a:hover {
    color: black;
    border-bottom: 3px black solid;
}

@media screen and (max-width: 480px) {
    main {
        width: 80%;
        font-size: 1.3em;
    }
}