@import url("https://fonts.googleapis.com/css?family=Headland+One|Noto+Sans");

@viewport {
    width: device-width;
}

:root {
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
::before,
::afters {
    box-sizing: inherit;
}

body {
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.logo {
    font-family: 'Headland One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: xx-large;
    align-self: center  ;
}   

a {}

a:link {}

a:visited {}

a:focus {}

a:hover {}

a:active {}

p { 
    hyphens: auto;
}

@media screen and (max-width: 425px) {
    body {
        margin: 0 .275em;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
    body {
        margin: .5em;
    }
}

@media screen and (min-width: 1025px) {
    p {
        hyphens: none;
    }
}