@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Wendy+One|Droid+Sans");
@viewport {
    width: device-width;
}

:root {
    box-sizing: border-box;
    font-size: 1.15rem;
}

*,
::before,
::afters {
    box-sizing: inherit;
}

body {
    background-color: #FFA82E;
    color: #720b0b;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1.5;
    letter-spacing: normal;
    word-spacing: normal;
    hyphens: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1rem;
    grid-template-areas: "h" "m" "f";
}

header {
    grid-area: h;
    font-family: 'Wendy One';
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

a {}

a:link {}

a:visited {}

a:focus {}

a:hover {}

a:active {}

@media screen and (max-width: 425px) {
    body {
        margin: 0 .275em;
    }
}

@media screen and (min-width: 426px) and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {}