@import url("normalize.css");
@import url("https://fonts.googleapis.com/css?family=Gafata|Jura");

@viewport {
    width: device-width;
}

:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

/* mobile first */
body {
    max-width: 95%;
    margin: 0 auto;
    background-color: black;
    color: #1AF429;
    font-family: 'Jura';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gafata';
}

p>.emoji {
    vertical-align: middle;
}

a {
    color: #1AF429;
    text-transform: uppercase;
}

a:hover {}

a:active {}

a:visited {}

header {
}

/* larger mobile */
@media screen and (min-width: 321px) {}

/* tablet */
@media screen and (min-width: 769px) {}

/* desktop */
@media screen and (min-width: 1281px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
}